/* @keyframes scroll-left {
  0% {
    transform: translateX(100vh);
  }
  100% {
    transform: translateX(-100%);
  }
} */

.animate-scroll {
  animation: scroll-left 30s linear infinite;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
